<style>
    #numericalStatistics {
        width: 400px;
        height: 200px;
        margin: 5px;
        overflow: auto;
        float: left;
    }

    #chartsContainer {
        margin: 5px;
        float: left;
    }

    #overallDegreeDistributionChart {
        width: 400px;
        height: 200px;
        border: 1px solid lightgray;
        float: left;
        margin: 5px;
    }

    #overallCCSizeDistributionChart {
        width: 400px;
        height: 200px;
        border: 1px solid lightgray;
        float: left;
        margin: 5px;
    }

    #overallPeelValueDistributionChart {
        width: 400px;
        height: 200px;
        border: 1px solid lightgray;
        float: left;
        margin: 5px;
    }

    #notesContainer {
        margin: 5px;
        float: left;
        border: 1px solid lightgray;
        overflow: auto;
        height: 150px;
        width: 820px;
    }

    td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}

    .selected {
        background-color: brown;
        color: #FFF;
    }

    .chartsSubContainer {
        float: left;
    }
</style>

<div id="chartsContainer">
    <div class="chartsSubContainer">
        <div id="numericalStatistics">
            <table>
                <tr>
                    <td>Vertices</td>
                    <td>{{ num_vertices }}</td>
                </tr>
                <tr>
                    <td>Edges</td>
                    <td>{{ num_edges }}</td>
                </tr>
                <tr>
                    <td>Connected Components</td>
                    <td>{{ num_cc }}</td>
                </tr>
                <tr>
                    <td>Isolated Vertices</td>
                    <td>{{ num_singletons }}</td>
                </tr>
                <tr>
                    <td>|V|log|V|</td>
                    <td>{{ vlogv }}</td>
                </tr>
            </table>
        </div>
        <div id="overallPeelValueDistributionChart"></div>
    </div>
    <div class="chartsSubContainer">
        <div id="overallCCSizeDistributionChart"></div>
        <div id="overallDegreeDistributionChart"></div>
    </div>
</div>

{% if notes %}
<div id="notesContainer">
    {{ notes }}
</div>
{% endif %}

<script>
    $(document).ready(function() {
        var degreeBins = {{ deg_bins }},
            degreeCounts = {{ deg_counts }},
            ccBins = {{ cc_sizes }},
            ccCounts = {{ cc_counts }},
            peelBins = {{ peel_bins }},
            peelCounts = {{ peel_counts }};

        drawChart(
            {'x': degreeBins, 'y': degreeCounts},
            'Degree',
            'Degree Distribution',
            'overallDegreeDistributionChart',
            true
        );
        
        drawChart(
            {'x': ccBins, 'y': ccCounts},
            'CC Size',
            'Connected Component Size Distribution',
            'overallCCSizeDistributionChart',
            true
        );
        
        drawChart(
            {'x': peelBins, 'y': peelCounts},
            'Peel Value',
            'Peel Value Distribution',
            'overallPeelValueDistributionChart',
            true
        );

    });

    $('#numericalStatistics tr').click(function() {
        $(this).addClass('selected').siblings().removeClass('selected');
    });
</script>