<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Peel Explorer Express</title>
    <link rel="stylesheet" type="text/css" href="/static/css/clusterize.css">
</head>

<style>
    #networkCanvas {
        float: left;
        width: 700px;
        height: 700px;
        margin-top: 5px;
        border: 1px solid lightgray;
    }

    #hierarchyTree {
        width: 800px;
        height: 400px;
        /*margin: 10px;*/
        margin-right: 10px;
        overflow: auto;
        float: left;
        border: 1px solid lightgray;
    }

    .collapsibleList li {
        list-style-image : url('/static/css/button.png');
        cursor: pointer;
    }

    li.collapsibleListOpen {
        list-style-image : url('/static/css/button-open.png');
        cursor: pointer;
    }

    li.collapsibleListClosed {
        list-style-image : url('/static/css/button-closed.png');
        cursor: pointer;
    }

    button {margin-bottom: 5px; margin-top: 5px;}

    td {border: 1px #DDD solid; padding: 5px; cursor: pointer;}

    .selected {
        background-color: gray !important;
        /*color: #FFF;*/
    }

    .canvasContainers {
        float: left;
    }

    #nodeInfoContainer {
        width: 450px;
        height: 300px;
        overflow-y: auto;
        float: left;
        border: 1px solid lightgray;
        margin: 5px;
    }

    #degreeDistChart {
        width: 450px;
        height: 350px;
        margin: 5px;
        clear: both;
        border: 1px solid lightgray;
    }

</style>

<body>
    <h1>Peel Explorer</h1>
    <p>Parth Parikh, James Abello</p>

    <div>
        <h3>Available Graphs</h3>
        <select id="graphSelect">
        {% for file in graph_files %}
            <option value="{{ file }}">{{ file }}</option>
        {% endfor %}
        </select>
        <button id="loadGraphBtn" type="button">Load Graph</button>
    </div>

    <div>
        <h3>Overall Statistics</h3>
        <div id="graphStatistics"></div>
    </div>

    <div>
        <div style="float: left; margin-right: 20px;">
            <h3>Available Hierarchy Trees</h3>
            <select id="treeSelect">
            {% for file in tree_files %}
                <option value="{{ file }}">{{ file }}</option>
            {% endfor %}
            </select>
            <button id="loadTreeBtn" type="button">Load Tree</button>
        </div>
        <div style="float: left; margin-left: 20px;">
            <h3>Save Hierarchy Tree</h3>
            Filename: <input id="saveTreeInput" type="text">
            <button id="saveTreeBtn" type="button" disabled=true>Save Hierarchy Tree</button>
        </div>
    </div>

    <div style="clear: both; float: left;">
        <h3>Hierarchy Tree</h3>
        <div>
            <button id="toggleHtreeBtn" type="button">Show Table</button>
        </div>
        <div id="htreeContainer" style="float: left; width: 1020px;">
            <div class="toggleHtreeContainer">
                <div id="hierarchyTree">
                    <ul id="hierarchyTreeRoot" class="collapsibleList">
                    </ul>
                </div>
            </div>
            <div id="htreeTableDiv" class="toggleHtreeContainer" style="display: none;">
                <input type="text" id="htreeTableSearch" placeholder="Search box" />
                <input type="text" id="htreeTableMinVertices" placeholder="Minimum No. of Vertices" />
                <div class="clusterize" style="height: 400px;">
                    <div id="htreeTablescrollArea" class="clusterize-scroll">
                        <table id="htreeTable">
                            <thead>
                                <tr>
                                    <th>Node Label</th>
                                    <th>|V|</th>
                                    <th>|E|</th>
                                    <th>|V|log|V|</th>
                                    <th>Node Type</th>
                                </tr>
                            </thead>
                            <tbody id="htreeTableContentArea" class="clusterize-content">
                                <tr class="clusterize-no-data">
                                    <td>Click below to load hierarchy table</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button id="htreeTableBtn" type="button">Load Hierarchy Table</button>
            </div>
        </div>
        <div style="float: left; margin-left: 5px;">
            <div id="treeButtons">
                <div id="displayGraphButtons">
                    <div>
                        <button id="induceNodeSubgraphBtn" type="button">Induce Subgraph</button>
                    </div>
                    <div>
                        <button id="computeBccTreeBtn" disabled="true" type="button">Compute BCC Tree</button>
                    </div>
                </div>
                <br/>
                
                <div id="htreeExplorationButtons">
                    <div>
                        <button id="getNodeChildrenBtn" type="button">Get Node Children</button>
                    </div>
                    <div>
                        <button id="computeNodeConnectedComponentsBtn"type="button">Connected Components</button>
                    </div>
                    <div>
                        <button id="computeNodeBiconnectedComponentsBtn" type="button">Biconnected Components</button>
                    </div>
                    <div>
                        <button id="computeNodeEdgePeelBtn" type="button">Edge Peel Decomposition</button>
                    </div>
                    <div>
                        <button id="computeKConnectedComponentsBtn" type="button">k Connected Components</button>
                    </div>
                </div>
        </div>
    </div>


    <!-- https://clusterize.js.org/ -->

    <div style="clear: both; display: none;">
        <h3>BCC Tree Statistics</h3>
        <div id="bccTreeStatistics">
        </div>
        <div style="clear: both;">
            <button id="descendBtn" type="button" style="display: none;">Descend</button>
            <div id="iterativeEdgePeel" style="display: none;"></div>
            <button id="iterativeEdgePeelBtn" style="display: none;" type="button">Edge Peeling</button>
        </div>
    </div>

    <div style="clear: both; float: left;">
        <div class="canvasContainers">
            <h3>Network</h3>
            <div style="float: left;">
                <div id="networkCanvas"></div>
                <div id="dev-ops"></div>
            </div>
            <div style="float: left;">
                <div id="nodeInfoContainer">
                    <div id="nodeInfo"></div>
                    <div id="nodeProps"></div>
                </div>
                <div id="degreeDistChart"></div>
            </div>
        </div>
        <div>
            <button id="stopSimulationBtn" type="button">Pause Simulation</button>
            <button id="toggleEdgesBtn" type="button">Toggle Edges</button>
            <button id="highlightBfsTreeBtn" type="button">Highlight BFS Tree</button>
            <button id="resetEdgeColorsBtn" type="button">Reset Edge Colors</button>
        </div>
    </div>

</body>

<script src="{{url_for('static', filename='js/jquery-3.2.1.min.js')}}"></script>
<script src="/static/js/vis.min.js"></script>
<link href="/static/css/vis.min.css" rel="stylesheet" type="text/css" />
<script src="/static/js/main-network-view.js"></script>
<script src="/static/js/renderjson.js"></script>
<script src="/static/js/CollapsibleLists.js"></script>
<script src="/static/js/clusterize.min.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="/static/js/exporting.js"></script>

<script>
    $('#loadGraphBtn').on('click', function(e) {
        $('#graphSelect').prop('disabled', true);
        $('#loadGraphBtn').prop('disabled', true);
        $('#treeSelect').prop('disabled', true);
        $('#loadTreeBtn').prop('disabled', true);
        $.ajax({
            type: 'GET',
            url: '/load-graph',
            data: {
                filename: $('#graphSelect').val()
            },
            success: function(response) {
                $("#graphStatistics").html(response);
            },
            complete: function() {
                $('#graphSelect').prop('disabled', false);
                $('#loadGraphBtn').prop('disabled', false);
                $('#treeSelect').prop('disabled', false);
                $('#loadTreeBtn').prop('disabled', false);
            }
        });
    });

    $('#loadTreeBtn').on('click', function(e) {
        $('#graphSelect').prop('disabled', true);
        $('#loadGraphBtn').prop('disabled', true);
        $('#treeSelect').prop('disabled', true);
        $('#loadTreeBtn').prop('disabled', true);
        $.ajax({
            type: 'GET',
            url: '/load-tree',
            data: {
                filename: $('#treeSelect').val()
            },
            success: function(response) {
                $('#hierarchyTreeRoot').html(
                    '<li><span class="node" data-value="root">Root</span></li>'
                );
                CollapsibleLists.applyTo($('#hierarchyTreeRoot')[0]);
                $('#saveTreeBtn').prop('disabled', false);
            },
            complete: function() {
                $('#graphSelect').prop('disabled', false);
                $('#loadGraphBtn').prop('disabled', false);
                $('#treeSelect').prop('disabled', false);
                $('#loadTreeBtn').prop('disabled', false);
            }
        });
    });

    $('#saveTreeBtn').on('click', function(e) {
        $('#saveTreeBtn').prop('disabled', true);
        var filename = $('#saveTreeInput').val();
        if (!filename) {
            alert('Empty filename');
            return;
        }
        $.ajax({
            type: 'GET',
            url: '/save-tree',
            data: {
                filename: filename
            },
            success: function(resposne) {
                alert(resposne['msg']);
            },
            complete: function() {
                $('#saveTreeBtn').prop('disabled', false);
            }
        });

    });

    $('#toggleHtreeBtn').click(function() {
        $('#htreeContainer > .toggleHtreeContainer').toggle();
        $(this).text(function(i, text) {
            return text === "Show Table" ? "Show Tree" : "Show Table";
        });
    });

    $('#stopSimulationBtn').click(function(e) {
        e.preventDefault();
        try {
            network.stopSimulation();
        } catch(e) {
            if (e instanceof ReferenceError) {
                // variable network does not exist
            } else if (e instanceof TypeError) {
                // network is not what we think it is
            }
        }
    });

    $('#highlightBfsTreeBtn').click(function(e) {
        e.preventDefault();
        var selectedNodes = network.getSelectedNodes();
        if (selectedNodes.length !== 1) {
            // 0 or more than 1 nodes are selected
            return;
        }
        $('#highlightBfsTreeBtn').prop('disabled', true);
        var rootNodeID = selectedNodes[0];
        $.ajax({
            type: 'GET',
            url: '/bfs-tree',
            data: {
                rootNodeID: rootNodeID
            },
            success: function(response) {
                var updateArray = [];
                for (edgeID in allEdges) {
                    if (allEdges.hasOwnProperty(edgeID)) {
                        var edge = allEdges[edgeID];
                        if (response.hasOwnProperty(edgeID)) {
                            edge['color'] = {'color': 'red'};
                            edge['selectionWidth'] = 2;
                        } else {
                            edge['color'] = {'color': 'rgba(200,200,200,0.5)'};
                            edge['selectionWidth'] = undefined;
                        }
                        updateArray.push(edge);
                    }
                }
                edgesDataset.update(updateArray);

                updateArray = [];
                for (nodeID in allNodes) {
                    var node = allNodes[nodeID];
                    if (nodeID == rootNodeID) {
                        node['color'] = undefined;
                    } else {
                        node['color'] = 'rgba(200,200,200,0.5)';
                    }
                    updateArray.push(node);
                }
                nodesDataset.update(updateArray);
            },
            complete: function() {
                $('#highlightBfsTreeBtn').prop('disabled', false);
            }
        });
    });

    $('#toggleEdgesBtn').click(function(e) {
        e.preventDefault();
        var updateArray = [];
        for (edgeID in allEdges) {
            var edge = allEdges[edgeID];
            edge['hidden'] = !edge['hidden'];
            updateArray.push(edge);
        }
        edgesDataset.update(updateArray);
    });

    $('#resetEdgeColorsBtn').click(function(e) {
        e.preventDefault()
        var updateArray = [];
        for (edgeID in allEdges) {
            var edge = allEdges[edgeID];
            edge['color'] = {'inherit': 'from'};
            updateArray.push(edge);
        }
        edgesDataset.update(updateArray);
    });

    $('body').on('click', 'span.node', function(e) {
        e.preventDefault();
        var $nodes = $('span.node');
        $nodes.removeClass('selected');
        $(this).addClass('selected');
    });

    $('body').on('click', '#htreeTable tr', function(e) {
        e.preventDefault();
        $(this).addClass('selected').siblings().removeClass('selected');
    });

    $('#getNodeChildrenBtn').on('click', function(e) {
        var node = $("#hierarchyTree li>span.selected");
        var fullyQualifiedLabel = node.attr('data-value');
        $('#getNodeChildrenBtn :button').prop('disabled', true);
        $.ajax({
            type: 'GET',
            url: '/get-hnode-children',
            data: {
                fullyQualifiedLabel: fullyQualifiedLabel
            },
            success: function(response) {
                node.after(response);
            },
            complete: function() {
                $('#getNodeChildrenBtn :button').prop('disabled', false);
            }
        });
    });

    $('#induceNodeSubgraphBtn').on('click', function(e) {
        var node = '';
        if ($('#htreeTableDiv').css('display') == 'none') {
            node = $("#hierarchyTree li>span.selected");
        } else {
            node = $('#htreeTableDiv tr.selected');
        }
        var fullyQualifiedLabel = node.attr('data-value');
        $('#induceNodeSubgraphBtn :button').prop('disabled', true);
        $.ajax({
            type: 'GET',
            url: '/induce-hnode-subgraph',
            data: {
                fullyQualifiedLabel: fullyQualifiedLabel
            },
            success: function(response) {
                if (response.hasOwnProperty('msg')) {
                    alert(response['msg']);
                    return;
                }
                var vis_data = response['vis_data'];                
                nodesDataset = new vis.DataSet(vis_data['nodes']);
                edgesDataset = new vis.DataSet(vis_data['edges']);
                redrawAll('networkCanvas');
                degree_distribution();
            },
            complete: function() {
                $('#induceNodeSubgraphBtn :button').prop('disabled', false);
            }
        });
    });

    $('#htreeTable tr').click(function() {
        $(this).addClass('selected').siblings().removeClass('selected');
    });

    $('#htreeTableBtn').on('click', function(e) {
        $('#htreeTableBtn :button').prop('disabled', true);
        $.ajax({
            type: 'GET',
            url: '/get-hierarchy-tree',
            success: function(response) {
                if (response.hasOwnProperty('msg')) {
                    alert(response['msg']);
                    return;
                }

                var rows = [],
                    search = $('#htreeTableSearch')[0]
                    vfilt = $('#htreeTableMinVertices')[0];

                var colorPicker = function(num_vertices) {
                    var color = 'rgba(0, 0, 0, 0);';
                    num_vertices = parseInt(num_vertices);
                    if (num_vertices >=  65536) {
                        color = 'rgba(135, 0, 0, 0.7);';
                    } else if (num_vertices >= 16384) {
                        color = 'rgba(165, 0, 0, 0.7);';
                    } else if (num_vertices >= 4096) {
                        color = 'rgba(195, 0, 0, 0.5);';
                    } else if (num_vertices >= 1024) {
                        color = 'rgba(225, 0, 0, 0.3);';
                    } else if (num_vertices >= 256) {
                        color = 'rgba(255, 0, 0, 0.1);';
                    } else {
                        color = 'rgba(0, 0, 0, 0);';
                    }
                    return color;
                }

                var nodes = response['nodes'];
                for(var i = 0; i < nodes.length; i++) {
                    var node = nodes[i];
                    var color = colorPicker(node['num_vertices']);
                    rows.push({
                        values: [node['label'],
                                 node['num_vertices'],
                                 node['num_edges'],
                                 node['vlogv'],
                                 node['node_type']
                                ],
                        markup: '<tr style="background-color: ' + color + '" data-value="' + node['label'] + '">' +
                            '<td>' + node['label'] + '</td>' +
                            '<td>' + node['num_vertices'] + '</td>' +
                            '<td>' + node['num_edges'] + '</td>' +
                            '<td>' + node['vlogv'] + '</td>' +
                            '<td>' + node['node_type'] + '</td>' +
                            '</tr>',
                        active: true
                    });
                }

                var filterRows = function(rows) {
                    var results = [];
                    for (var i = 0; i < rows.length; i++) {
                        if (rows[i].active) {
                            results.push(rows[i].markup)
                        }
                    }
                    return results;
                }

                var clusterize = new Clusterize({
                    rows: filterRows(rows),
                    scrollId: 'htreeTablescrollArea',
                    contentId: 'htreeTableContentArea'
                });

                var onSearch = function() {
                    for (var i = 0; i < rows.length; i++) {
                        var suitable = false;
                        for (var j = 0; j < rows[i].values.length; j++) {
                            if (rows[i].values[j].toString().indexOf(search.value) + 1) {
                                suitable = true;
                            }
                        }
                        rows[i].active = suitable;
                    }
                    clusterize.update(filterRows(rows));
                }

                var onVfilt = function() {
                    var threshold = parseFloat(vfilt.value);
                    for (var i = 0; i < rows.length; i++) {
                        var suitable = false;
                        var num_vertices = parseInt(rows[i].values[1]);
                        if (num_vertices > threshold) {
                            suitable = true;
                        }
                        rows[i].active = suitable;
                    }
                    clusterize.update(filterRows(rows));
                }


                search.oninput = onSearch;
                vfilt.oninput = onVfilt;
            },
            complete: function() {
                $('#htreeTableBtn :button').prop('disabled', false);
            }
        });
    });

    $('#computeNodeConnectedComponentsBtn').on('click', function(e) {
        var node = '';
        if ($('#htreeTableDiv').css('display') == 'none') {
            node = $("#hierarchyTree li>span.selected");
        } else {
            node = $('#htreeTableDiv tr.selected');
        }
        var operation = 'connected_components';
        var btn = $('#computeNodeBiconnectedComponentsBtn :button')
        decompose_by_operation(node, operation, btn);
    });

    $('#computeNodeBiconnectedComponentsBtn').on('click', function(e) {
        var node = '';
        if ($('#htreeTableDiv').css('display') == 'none') {
            node = $("#hierarchyTree li>span.selected");
        } else {
            node = $('#htreeTableDiv tr.selected');
        }
        var operation = 'biconnected_components';
        var btn = $('#computeNodeBiconnectedComponentsBtn :button')
        decompose_by_operation(node, operation, btn);
    });

    $('#computeNodeEdgePeelBtn').on('click', function(e) {
        var node = '';
        if ($('#htreeTableDiv').css('display') == 'none') {
            node = $("#hierarchyTree li>span.selected");
        } else {
            node = $('#htreeTableDiv tr.selected');
        }
        var operation = 'edge_peel';
        var btn = $('#computeNodeEdgePeelBtn :button')
        decompose_by_operation(node, operation, btn);
    });

    $('#computeKConnectedComponentsBtn').on('click', function(e) {
        var node = '';
        if ($('#htreeTableDiv').css('display') == 'none') {
            node = $("#hierarchyTree li>span.selected");
        } else {
            node = $('#htreeTableDiv tr.selected');
        }
        var operation = 'k_connected_components';
        var btn = $('#computeKConnectedComponentsBtn :button')
        decompose_by_operation(node, operation, btn);
    });

    function decompose_by_operation(node, operation, btn) {
        var fullyQualifiedLabel = node.attr('data-value');
        btn.prop('disabled', true);
        $.ajax({
            type: 'GET',
            url: '/decompose-by-operation',
            data: {
                fullyQualifiedLabel: fullyQualifiedLabel,
                operation: operation
            },
            success: function(response) {
                if (response.hasOwnProperty('msg')) {
                    alert(response['msg']);
                    return;
                }
                node.after(response);
            },
            complete: function() {
                btn.prop('disabled', false);
            }
        })
    }

    function degree_distribution() {
        var degrees = [];
        for (nodeID in allNodes) {
            degrees.push(network.getConnectedNodes(nodeID).length);
        }
        degrees.sort(function(a, b) {
            return a - b;  
        });

        var bins = [], counts = [], prev;
        for (var i = 0; i < degrees.length; i++) {
            if (degrees[i] !== prev) {
                bins.push(degrees[i]);
                counts.push(1);
            } else {
                counts[counts.length - 1]++;
            }
            prev = degrees[i];
        }

        draw_chart(
            {'x': bins, 'y': counts},
            'degree',
            'degreeDistChart',
            'Degree Distribution'
        );
    }

    function draw_chart(data, seriesText, container, titleText,) {
        Highcharts.chart(container, {
            chart: {
                type: 'column',
                zoomType: 'x'
            },
            title: {
                text: titleText
            },
            xAxis: {
                categories: data['x'],
                crosshair: true
            },
            yAxis: {
                min: 0,
                title: {
                    text: 'Count'
                }
            },
            tooltip: {
                headerFormat: '<span style="font-size:10px">{point.y}</span><table>',
                pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}: </td>' +
                    '<td style="padding:0"><b>{point.key}</b></td></tr>',
                footerFormat: '</table>',
                shared: true,
                useHTML: true
            },
            plotOptions: {
                column: {
                    pointPadding: 0.2,
                    borderWidth: 0
                }
            },
            series: [{
                name: seriesText,
                data: data['y']
            }]
        });
    }
</script>

</html>